#gameboard{
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
}

.square svg{
    height: 30px;
    width: 30px;
    margin: 5px;
    position: relative;
    z-index: -9;
}

path{
    position: relative;
    z-index: -10;
}

.piece{
    position: relative;
    z-index: 9;
}
.square{
     height: 40px;
     width: 40px;
     position: relative;
}

.blue{
    background-color: rgb(105, 5, 30);
}

.white{
    background-color: rgb(2, 2, 2)smoke;
}

.black{
    fill: black;
}

.white{
    fill:rgb(15, 15, 224)
}